@{
    ViewData["Title"] = "Index";
}
          <section class="home" style="background-image:url(assets/images/imagesback1.jfif); background-size: cover;" >
            <div class="page1">
                    <div class="text1">
                        <img src="~/assets/images/logo-image copy.png" alt="">
                            <h1>WE LOVES SIMPLICITY</h1>
                    </div>
            </div>
          </section>
          <section class="services">
                    <div class="text2">
                            <h2>There's huge space beetween creativity and imagination</h2>
                            <i class="bi bi-person-workspace"></i>
                    </div>
          </section>
          <section class="workis">
                <div class="text3">
                        <h2>Who We Are</h2>
                </div>
                <div class="container">
                    <div class="page2">
                        <div class="text4">
                                <h3>We live with creativity</h3>
                                <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directeal desirabilite de un nov lingua franca:On refusa continuar payar custosi traductores.</p>
                        </div>
                        <div class="img">
                            <img src="~/assets/images/creativity.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="container">

                    <div class="images">
                          <div class="img1">
                                  <img src="~/assets/images/img-2.jpg" alt="">
                                  <h3>John Doe</h3>
                                  <p>Art director</p>
                          </div>
                          <div class="img1">
                                  <img src="~/assets/images/img-3.jpg" alt="">
                                  <h3>John Doe</h3>
                                  <p>Art director</p>
                          </div>
                          <div class="img1">
                                  <img src="~/assets/images/img-4.jpg" alt="">
                                  <h3>John Doe</h3>
                                  <p>Art director</p>
                          </div>
                          <div class="img1">
                                  <img src="~/assets/images/img-5.jpg" alt="">
                                  <h3>John Doe</h3>
                                  <p>Art director</p>
                          </div>
                          <div class="img1">
                                  <img src="~/assets/images/img-3.jpg" alt="">
                                  <h3>John Doe</h3>
                                  <p>Art director</p>
                          </div>
                    </div>
                </div>
          </section>
          <section class="blog">
            <div class="text5">
                <h2>Services</h2>
                <div class="container">
                    <div class="card-group">
                        <div class="card">
                          <img src="~/assets/images/laptop.png" class="card-img-top" alt="..." style="height: 130px; width: 30%; text-align: center;">
                          <div class="card-body">
                            <h5 class="card-title">Web design</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          
                          </div>
                        </div>
                        <div class="card">
                            <img src="~/assets/images/camera.png" class="card-img-top" alt="..." style="height: 130px; width: 30%; text-align: center;">
                            <div class="card-body">
                              <h5 class="card-title">Web design</h5>
                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            
                            </div>
                        </div>
                        <div class="card">
                            <img src="~/assets/images/basket.png" class="card-img-top" alt="..." style="height: 130px; width: 30%; text-align: center;">
                            <div class="card-body">
                              <h5 class="card-title">Web design</h5>
                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            
                            </div>
                      </div>
                        <div class="card">
                            <img src="~/assets/images/basket.png" class="card-img-top" alt="..." style="height: 130px; width: 30%; text-align: center;">
                            <div class="card-body">
                              <h5 class="card-title">Web design</h5>
                              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            
                            </div>
                      </div>

                </div>
            </div>
          </section>
          <section class="ours">
                <div class="text6">
                        <h2>Our Works</h2>
                </div>
                <div class="menu">
                        <ul>
                            <li>All</li>
                            <li>Wep</li>
                            <li>Print</li>
                            <li>Desigin</li>
                            <li>Pohotograpy</li>
                        </ul>
                        <div class="images1" style="display: flex; gap: 10px;">
                                <img src="~/assets/images/big.jpg" alt="" style="height:20vh ; width: 50%;">
                                <img src="~/assets/images/big.jpg" alt="" style="height:20vh ; width: 50%;">
                                <img src="~/assets/images/big.jpg" alt="" style="height:20vh ; width: 50%;">
                                <img src="~/assets/images/big.jpg" alt="" style="height:20vh ; width: 50%;">
                                <img src="~/assets/images/big.jpg" alt="" style="height:20vh ; width: 50%;">
                               
                        </div>
                </div>
          </section>
          <section class="icon" style="background-image: url(assets/images/images12.jfif); background-size: cover;">
                <div class="text7">

                    <i class="bi bi-yin-yang"></i><p>We are an established and trusted web agency with a reputation for commitment and high integrity</p>
                    <i class="bi bi-slack" style="font-size:100px ; color:white;"></i>
                </div>
          </section>
          <section class="page">
                <h2>Our Blog</h2>
                <div class="container">
                    <div class="card-group">
                        <div class="card">
                          <img src="~/assets/images/qatar.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">New design trends</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <div class="card">
                          <img src="~/assets/images/galeri.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Retro is great</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <div class="card">
                          <img src="~/assets/images/gul.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Isometric mockup</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. …</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <div class="card">
                          <img src="~/assets/images/kitab.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Free icon set</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                    </div>
             </div>    
             <div class="btn">
                 <button  style="margin-left: 800px;margin-top: 100px; font-size: 40px; background-color: black; color: white;  ">More Blog Post</button>           
             </div>          
          </section>